body{
	background:url('wall.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	color: white;
	width: 100%;
}



.prim{
	border: 3px;
	border-style: solid;
	border-color: black;
	width: 1100px;
	height: 400px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.segun{
	background: #2F4F4F;
	padding: 15px;
	width: 1075px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
	color: #00FA9A;
	text-decoration: none;
	font-weight: bold;

}

.terce{
	padding: 12px;
	color:#7B68EE ;
	background: ;
	width: 1075px;
	margin: auto;
}






/*
.menu{
	font-size: 60px;
}*/

